.skills{
    border: 5px solid #555;
}

.LinearLab_img{
    padding-bottom: 27%;
    border-radius: 50%;
    max-width: 100%;
    height: auto/2;
    width: auto/10;
    
}


.Motion-Detector_img{
    padding-bottom: 35%;
    border-radius: 50%;
    max-width: 100%;
    height: auto/2;
    width: auto/10;
}


.timeZone_img{
    padding-bottom: 21.5%;
    border-radius: 50%;
    max-width: 100%;
    height: auto/2;
    width: auto/10;
    
}


.translator_img{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    width: auto/9;
}
