.skills{
    border: 5px solid #555;
}

.Motion-Detector{
    height: 150px;
    width: 200px;
}

.LinearLab{
    height: 150px;
    width: 405px;
}

.timeZone{
    height: 150px;
    width: 405px;
}

.translator{
    height: 150px;
    width: 405px;
}